---
layout: default
title: Photography
categories: every sometimes
---
{% include header.html %} 

<div class="main">
	{% for post in site.categories.photography %} 
	<div class="projectcontainer" onclick=location.href="{{ post.url }}";>
		<h1> {{ post.title }} </h1>
		<h2> {{ post.date | date_to_string }} / {{ post.categories | join: ' / published on: ' }}</h2>
	</div>
	{% endfor %}
</div>
	 
<div class="main">
	<div id="footercontainer" onclick=location.href="https://unsplash.com/@julian_zett">
		<h1>Follow my photography</h1>
		<h2>on unsplash</h2>
	</div>
</div>
	 